__pycache__/
*.py[cod]
*.pyo
venv/
.venv/
env/
ENV/
db.sqlite3
db.sqlite3-journal
*.log
staticfiles/
media/
celerybeat-schedule
celerybeat-schedule.*
celerybeat.pid
.env
.env.*
.vscode/
.idea/
.coverage
htmlcov/
.pytest_cache/
node_modules/
dist/
dump.rdb
